/**-----------------  Document général ----------------------------------**/
/**----------------------------------------------------------------------**/
p{
    font-family: 'Inter', sans-serif;
    color: rgb(70, 70, 70);
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(33, 33, 33);
}

.btn{
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color:  #FFB72C;
    border: 1px solid black;
    text-transform: uppercase;
}


/**----------------- Navigation ----------------------------------**/

.logo{
    width: 1.5em;
}

.navBar{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 2.6em;
}

.menuNav{
    display: none;
}

.menu-hamburger{
    width: 2.4em;
    position: absolute;
    top : 0.4em;
    right: 0.4em;
}

/***----------------- Header ----------------------------------**/

.banner{
    background: url("./../img/AV-Mobile-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20em;
    padding: 2em;

}

.bannertitle{
    color: white;

}

.cadre{
    border: 1px solid black;
    padding: 2em;
    text-align: center;
    background-color:rgb(23, 23, 23, 0.7);
}

/**----------------- Corps de la page ----------------------------------**/

.para{
    padding-right: 2em;
    padding-left: 2em;
}

.article-principal{
    text-align: center;
    margin-bottom: 3em;
    margin-top: 2em;
}

.illu{
    width: 96vw;
    margin: auto;
}

.icon{
    width: 1.4em;
}
.footer{
    display: flex;
    justify-content: right;
    gap: 0.3em;
}

.form{
    text-align: center;
    border : 1px solid black;
    width: 50vw;
    margin: auto;
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 1.5em;
}

.map{
    width: 90vw;
    margin-left: 4vw;
    border: 1px solid black;
    margin-top: 2em;
    margin-bottom: 2em;
}






/**--------- ECRANS LARGES PC ---------------------------------------------------------**/
/**---------------------------------------------------------------------------------**/


@media(min-width:1200px){


.banner{
    background: url("./../img/AV-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40em;
    padding: 2em;
}

.cadre{
    border: 1px solid black;
    padding: 2em;
    text-align: center;
    background-color:rgb(23, 23, 23, 0.7);
    width : 40vw;
    height: 25vh;
    margin-left: 25vw;
    margin-top: 10vh;
    font-size: 1.5em;
}

.menu-hamburger{
    display: none;
}

.menuNav{
    display: flex;
    justify-content: end;
    margin-right: 3vw;
    gap : 2em;
}
.menuNav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(52, 52, 52);
}
.active{
    font-weight: bold;
}
.logo{
    width: 2.2em;
    margin-left: 2em;
}

}